In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from backtest import Backtest

# load data

In [111]:
price = pd.read_pickle('price.pkl')
price

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,169.0987,NaN,147.8887,970.6780,950.5521,1232.0186,413.2189,278.1162,NaN,478.8201,...,847.8471,1727.7597,1332.1473,1367.1194,487.5256,567.3170,3719.2396,1721.7623,20584.8363,1482.3931
2013-01-07,166.3266,NaN,144.9890,960.1615,924.2187,1236.1949,411.5426,278.1162,NaN,480.4769,...,804.2336,1744.7820,1327.9713,1364.4123,475.2036,594.1617,3732.0499,1695.8510,21150.4557,1453.9312
2013-01-08,166.3266,NaN,144.9890,955.9548,938.6596,1215.3132,407.3517,277.2709,NaN,473.8496,...,795.5109,1761.8042,1340.4993,1377.0457,470.5604,585.2135,3736.3199,1627.9455,21243.1802,1472.9058
2013-01-09,165.4026,NaN,144.9890,944.3866,945.4553,1240.3712,417.4098,278.9616,NaN,482.1337,...,780.6823,1766.0598,1336.3233,1440.2130,479.3109,631.7442,3757.6703,1612.7561,21159.7281,1442.0720
2013-01-10,167.2507,NaN,144.9890,942.2833,943.7564,1252.9002,435.0114,284.8789,NaN,490.4178,...,810.3395,1757.5487,1340.4993,1516.0136,481.9896,619.2167,3791.8310,1568.9749,20918.6445,1442.0720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-15,560.0000,2718.0,NaN,826.0000,3330.0000,4240.0000,1014.0000,921.0000,1509.0,1585.0000,...,1206.0000,2375.5000,2122.0000,4275.0000,1767.0000,NaN,9726.0000,7090.0000,95390.0000,10370.0000
2021-03-16,559.0000,2713.0,NaN,828.0000,3320.0000,4255.0000,1027.0000,928.0000,1540.0,1594.0000,...,1208.5000,2407.5000,2137.0000,4410.0000,1748.0000,NaN,9694.0000,7200.0000,95190.0000,10620.0000
2021-03-17,561.0000,2732.0,NaN,808.0000,3400.0000,4220.0000,1007.0000,909.0000,1553.0,1558.0000,...,1193.0000,2450.0000,2150.0000,4335.0000,1764.0000,NaN,9680.0000,7200.0000,96000.0000,10400.0000
2021-03-18,565.0000,2740.0,NaN,812.0000,3455.0000,4300.0000,1028.0000,921.0000,1605.0,1581.0000,...,1199.5000,2442.5000,2162.0000,4340.0000,1770.0000,NaN,9700.0000,7110.0000,96930.0000,10220.0000
2021-03-19,567.0000,2725.0,NaN,796.0000,3455.0000,4345.0000,1054.0000,926.0000,1664.0,1600.0000,...,1218.0000,2466.0000,2167.0000,4320.0000,1723.0000,NaN,9594.0000,6850.0000,91020.0000,9969.0000

In [112]:
volume = pd.read_pickle('volume.pkl')
volume

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,1464100.0,NaN,1553000.0,5312400.0,816600.0,2254000.0,6232000.0,3940000.0,NaN,5406500.0,...,11514100.0,2685000.0,1988200.0,482800.0,3148000.0,1114500.0,800500.0,1513200.0,587300.0,12023000.0
2013-01-07,1783500.0,NaN,1419000.0,3724400.0,1464400.0,3452200.0,6580000.0,5511000.0,NaN,6470000.0,...,8334600.0,2401200.0,1495200.0,458000.0,4289000.0,2862000.0,688400.0,1841700.0,980700.0,13892400.0
2013-01-08,1759800.0,NaN,869000.0,5019600.0,929800.0,3918400.0,6019000.0,5139000.0,NaN,4849000.0,...,6308100.0,2478000.0,1598800.0,635200.0,4065500.0,1620000.0,760300.0,2582000.0,616800.0,10749800.0
2013-01-09,767800.0,NaN,654000.0,6668800.0,663000.0,2350800.0,5745000.0,7800000.0,NaN,4401000.0,...,7645400.0,2897200.0,1827800.0,1122300.0,3283500.0,3021500.0,848200.0,2015400.0,633900.0,11551600.0
2013-01-10,1503100.0,NaN,661000.0,6485200.0,665000.0,2702000.0,10200000.0,5293000.0,NaN,5215000.0,...,17785700.0,3939400.0,2882200.0,1014300.0,3900000.0,1099000.0,635100.0,3119100.0,588100.0,8860200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-15,1537500.0,191100.0,NaN,10291600.0,570800.0,853900.0,2113000.0,2248100.0,2557000.0,1436200.0,...,2683400.0,1372900.0,1284500.0,271400.0,5256200.0,NaN,514900.0,547800.0,619200.0,12041200.0
2021-03-16,1594200.0,151100.0,NaN,9195200.0,532000.0,747700.0,2581500.0,2788200.0,2204800.0,1673900.0,...,3889200.0,1606800.0,1531800.0,527100.0,3727400.0,NaN,575000.0,453100.0,495500.0,11346000.0
2021-03-17,1328200.0,169400.0,NaN,10094800.0,530300.0,596900.0,3222500.0,2746000.0,1794500.0,2005300.0,...,3784600.0,1406800.0,964800.0,343900.0,3424800.0,NaN,428200.0,338500.0,421900.0,9771000.0
2021-03-18,1421200.0,155300.0,NaN,9579300.0,636100.0,813200.0,3015600.0,2221500.0,3104200.0,1684000.0,...,3194700.0,1647800.0,1222600.0,284500.0,3729700.0,NaN,485600.0,501700.0,678300.0,13941600.0
2021-03-19,2197500.0,395800.0,NaN,18949400.0,649900.0,1309500.0,5930300.0,4223300.0,11399100.0,2885800.0,...,7777900.0,2931300.0,2216700.0,488200.0,7315700.0,NaN,820300.0,870300.0,1542800.0,20715700.0

## split data into train and test

In [113]:
price = price[price.index <= '2021-01-01']
price_out = price[price.index > '2021-01-01']

volume = volume[volume.index <= '2021-01-01']
volume_out = volume[volume.index > '2021-01-01']

In [114]:
volume

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,1464100.0,NaN,1553000.0,5312400.0,816600.0,2254000.0,6232000.0,3940000.0,NaN,5406500.0,...,11514100.0,2685000.0,1988200.0,482800.0,3148000.0,1114500.0,800500.0,1513200.0,587300.0,12023000.0
2013-01-07,1783500.0,NaN,1419000.0,3724400.0,1464400.0,3452200.0,6580000.0,5511000.0,NaN,6470000.0,...,8334600.0,2401200.0,1495200.0,458000.0,4289000.0,2862000.0,688400.0,1841700.0,980700.0,13892400.0
2013-01-08,1759800.0,NaN,869000.0,5019600.0,929800.0,3918400.0,6019000.0,5139000.0,NaN,4849000.0,...,6308100.0,2478000.0,1598800.0,635200.0,4065500.0,1620000.0,760300.0,2582000.0,616800.0,10749800.0
2013-01-09,767800.0,NaN,654000.0,6668800.0,663000.0,2350800.0,5745000.0,7800000.0,NaN,4401000.0,...,7645400.0,2897200.0,1827800.0,1122300.0,3283500.0,3021500.0,848200.0,2015400.0,633900.0,11551600.0
2013-01-10,1503100.0,NaN,661000.0,6485200.0,665000.0,2702000.0,10200000.0,5293000.0,NaN,5215000.0,...,17785700.0,3939400.0,2882200.0,1014300.0,3900000.0,1099000.0,635100.0,3119100.0,588100.0,8860200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,1385000.0,102400.0,NaN,7363200.0,204100.0,457600.0,1970900.0,1818100.0,770300.0,1206000.0,...,1981800.0,857500.0,579800.0,238500.0,1084100.0,NaN,232500.0,176800.0,363700.0,17027600.0
2020-12-25,803600.0,84700.0,NaN,4477700.0,173500.0,277300.0,1075800.0,1799200.0,799100.0,589800.0,...,2168900.0,664100.0,398500.0,176800.0,1244100.0,NaN,219400.0,161600.0,207000.0,13149600.0
2020-12-28,1536400.0,161300.0,NaN,9165600.0,266800.0,594000.0,1312300.0,1644400.0,804500.0,1176900.0,...,2431200.0,1307500.0,1083400.0,299300.0,1526200.0,NaN,433600.0,269500.0,400400.0,15953100.0
2020-12-29,2182500.0,167700.0,NaN,8079500.0,432500.0,640000.0,1744700.0,1905700.0,954100.0,1081500.0,...,2408400.0,1182100.0,641400.0,293800.0,3325900.0,NaN,569700.0,372900.0,830400.0,16022000.0
2020-12-30,1870700.0,140500.0,NaN,4496100.0,419700.0,558400.0,1555800.0,1843400.0,1102200.0,1059900.0,...,2269300.0,1017400.0,763200.0,282600.0,3070600.0,NaN,546500.0,465600.0,911100.0,15488900.0

# cal multi factors

In [115]:
from operators import *

In [116]:
fac_dict = {}
for w in [5, 10]:
    fac_dict[f'price_vol_corr_{w}'] =  price.rolling(w).corr(volume)
    # fac_dict[f'ols_slope_price_{w}'] = regression_slope(price, w) # too slow
    fac_dict[f'ewm_span_{w}'] = price.ewm(span=w).mean()
    fac_dict[f'f_max_price_{w}'] = f_max(price, w)
    fac_dict[f'f_min_price_{w}'] = f_min(price, w)
    fac_dict[f'price_energy_{w}'] = energy(price, w)
    fac_dict[f'volume_energy_{w}'] = energy(volume, w)

    print("finish window size: ", w)

fac_dict['acc_price'] =  acceleration(price)
fac_dict['acc_volume'] =  acceleration(volume)
print("done")

finish window size:  5
finish window size:  10
done

In [117]:
fac_dict['acc_price']

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-08,0.016393,NaN,0.019607,0.006453,0.043328,-0.020282,-0.006127,-0.003039,NaN,-0.017253,...,0.040594,-0.000096,0.012569,0.011239,0.015504,-0.062379,-0.002300,-0.024993,-0.023093,0.032251
2013-01-09,-0.005555,NaN,0.000000,-0.007720,-0.008385,0.037510,0.034875,0.009137,NaN,0.031276,...,-0.007794,-0.007341,-0.012549,0.036612,0.028367,0.094571,0.004570,0.030712,-0.008312,-0.033985
2013-01-10,0.016729,NaN,0.000000,0.009874,-0.009037,-0.010518,0.017477,0.015114,NaN,-0.000300,...,0.056629,-0.007235,0.006240,0.006760,-0.013007,-0.099341,0.003377,-0.017816,-0.007465,0.020934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,-0.002410,0.010602,NaN,0.049450,-0.011337,0.007238,0.018517,0.019059,0.010256,-0.000750,...,0.006881,-0.004463,-0.000594,0.012950,-0.011910,NaN,-0.004442,-0.023093,0.020160,0.009112
2020-12-25,0.004756,-0.000954,NaN,-0.040724,0.006452,0.004310,0.002191,-0.004172,0.011879,0.009659,...,-0.002188,-0.011947,-0.004995,0.003511,0.012578,NaN,-0.002891,-0.008639,-0.014320,-0.015008
2020-12-28,-0.014235,0.002716,NaN,-0.017377,-0.011283,-0.000074,-0.012644,-0.013468,-0.028742,0.006622,...,-0.003387,0.027856,0.020987,-0.001236,-0.011828,NaN,-0.003847,0.015604,0.002064,0.033298
2020-12-29,0.026140,0.005833,NaN,0.010433,0.045389,0.009856,0.020431,0.031036,0.024395,0.006418,...,0.004865,-0.008995,-0.015398,0.009232,0.041084,NaN,0.036889,-0.008696,0.038275,0.043469
2020-12-30,-0.023721,-0.020755,NaN,-0.012458,-0.034208,-0.028189,-0.030442,-0.034878,-0.026869,-0.028311,...,-0.006560,-0.008795,-0.013778,-0.023091,-0.043853,NaN,-0.044255,0.000000,-0.026714,-0.044917

# backtest single factors

In [118]:
def backtest(fac):
    """
    backtest df, index as stock, columns as date, need to transpose
    """
    bt = Backtest()
    rslt = bt.ret_info(fac.T)
    return rslt

In [119]:
def bk(fac):
    """
    backtest df, index as stock, columns as date, need to transpose
    """
    bt = Backtest()
    rslt = bt.ret_info(fac.T)
    return rslt

In [120]:
fns = fac_dict.keys()
f_rslt = []
for fn, f in fac_dict.items():
    print(fn)
    rslt = bk(f)
    f_rslt.append(rslt)

price_vol_corr_5
ewm_span_5
f_max_price_5
f_min_price_5
price_energy_5
volume_energy_5
price_vol_corr_10
ewm_span_10
f_max_price_10
f_min_price_10
price_energy_10
volume_energy_10
acc_price
acc_volume

In [121]:
rslt_df = pd.DataFrame(f_rslt, index=fac_dict.keys())
rslt_df

                   TurnOver     RetNC  SharpeNC     DDNC
price_vol_corr_5   0.732607 -0.154911 -0.715386  1.24669
ewm_span_5         0.009621 -0.154911 -0.715386  1.24669
f_max_price_5      0.403214 -0.154911 -0.715386  1.24669
f_min_price_5      0.419504 -0.154911 -0.715386  1.24669
price_energy_5     0.009932 -0.154911 -0.715386  1.24669
volume_energy_5    0.138578 -0.154911 -0.715386  1.24669
price_vol_corr_10  0.455717 -0.154911 -0.715386  1.24669
ewm_span_10        0.006964 -0.154911 -0.715386  1.24669
f_max_price_10     0.205613 -0.154911 -0.715386  1.24669
f_min_price_10     0.216074 -0.154911 -0.715386  1.24669
price_energy_10    0.007387 -0.154911 -0.715386  1.24669
volume_energy_10   0.076623 -0.154911 -0.715386  1.24669
acc_price          1.729492 -0.154911 -0.715386  1.24669
acc_volume         1.779078 -0.154911 -0.715386  1.24669

In [122]:
# delete factor f_max_price_10, because the result is not good

fac_dict.pop('f_max_price_10')

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,7.0,4.0,0.0,6.0,4.0,1.0,0.0,2.0,5.0,2.0,...,7.0,8.0,7.0,6.0,2.0,0.0,0.0,5.0,1.0,8.0
2020-12-25,6.0,4.0,0.0,6.0,3.0,1.0,0.0,1.0,5.0,2.0,...,8.0,7.0,7.0,6.0,3.0,0.0,0.0,4.0,2.0,7.0
2020-12-28,5.0,4.0,0.0,5.0,2.0,0.0,0.0,0.0,6.0,3.0,...,8.0,7.0,7.0,6.0,4.0,0.0,0.0,3.0,3.0,6.0
2020-12-29,5.0,5.0,0.0,5.0,2.0,1.0,1.0,0.0,7.0,4.0,...,8.0,7.0,7.0,6.0,5.0,0.0,1.0,2.0,4.0,5.0
2020-12-30,5.0,6.0,0.0,4.0,2.0,2.0,2.0,0.0,7.0,4.0,...,8.0,7.0,7.0,6.0,6.0,0.0,2.0,1.0,5.0,4.0

# combination

Lasso Regression

factors matrix -> return (buy tomorrow, sell the day next tomorrow)

In [123]:
# lasso
# factors -> return

In [137]:
factors = pd.DataFrame()
for fn, fac in fac_dict.items():
    factors[fn] = fac.fillna(0).stack().reset_index(drop=True)

In [138]:
factors

,price_vol_corr_5,ewm_span_5,f_max_price_5,f_min_price_5,price_energy_5,volume_energy_5,price_vol_corr_10,ewm_span_10,f_min_price_10,price_energy_10,volume_energy_10,acc_price,acc_volume
0,0.000000,169.098700,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,169.098700,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
1,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
2,0.000000,147.888700,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,147.888700,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
3,0.000000,970.678000,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,970.678000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
4,0.000000,950.552100,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,950.552100,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
484339,0.000000,1026.675915,0.0,0.0,0.000000e+00,0.000000e+00,0.000000,1020.596543,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
484340,0.767214,9473.347148,4.0,1.0,8.907053e+07,1.826844e+11,0.105761,9493.627976,8.0,8.888207e+07,3.306654e+11,-0.044255,-0.354607
484341,0.666925,5795.061137,5.0,0.0,3.350132e+07,9.716816e+10,0.158192,5808.002587,9.0,3.374420e+07,2.312959e+11,0.000000,-0.135081
484342,0.967690,88970.040975,5.0,0.0,7.801316e+09,3.710228e+11,0.913042,87291.030491,5.0,7.438507e+09,2.379679e+11,-0.026714,-0.976744
484343,0.521840,7981.579260,2.0,3.0,6.228781e+07,2.427926e+14,0.424825,7978.293533,6.0,6.568940e+07,2.860249e+14,-0.044917,-0.037592

In [126]:
buy_price = (price).shift(-1)
sell_price = (price).shift(-1 - 1)
rtn = sell_price / buy_price - 1

In [149]:
rtn =rtn.fillna(0).replace(np.inf, 0)
rtn

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,0.000000,0.000000,0.000000,-0.004381,0.015625,-0.016892,-0.010183,-0.003039,0.000000,-0.013793,...,-0.010846,0.009756,0.009434,0.009259,-0.009771,-0.015060,0.001144,-0.040042,0.004384,0.013051
2013-01-07,-0.005555,0.000000,0.000000,-0.012101,0.007240,0.020619,0.024691,0.006098,0.000000,0.017483,...,-0.018640,0.002415,-0.003115,0.045872,0.018596,0.079511,0.005714,-0.009330,-0.003928,-0.020934
2013-01-08,0.011173,0.000000,0.000000,-0.002227,-0.001797,0.010101,0.042169,0.021212,0.000000,0.017182,...,0.037989,-0.004819,0.003125,0.052632,0.005589,-0.019830,0.009091,-0.027147,-0.011394,0.000000
2013-01-09,0.022099,0.000000,0.019999,0.041295,-0.009001,-0.006667,0.001927,0.002968,0.000000,0.000000,...,-0.007535,0.000000,0.003115,-0.000595,0.007040,0.020231,0.011261,0.033599,0.047872,-0.006579
2013-01-10,0.021622,0.000000,0.032680,0.023580,0.016349,0.003356,-0.011538,-0.017751,0.000000,-0.003378,...,0.000000,0.024213,0.021739,0.001191,0.009934,0.000000,0.013363,-0.002755,0.007614,0.004967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,-0.007092,0.007766,0.000000,-0.008651,-0.008052,0.008584,0.000000,-0.006711,-0.010870,0.012574,...,0.003856,0.021791,0.025403,0.007009,-0.001465,0.000000,-0.004060,0.008696,0.006719,0.001820
2020-12-25,0.019048,0.013599,0.000000,0.001782,0.037338,0.018440,0.020431,0.024324,0.013525,0.018992,...,0.008721,0.012796,0.010005,0.016241,0.039618,0.000000,0.032829,0.000000,0.044994,0.045289
2020-12-28,-0.004673,-0.007156,0.000000,-0.010676,0.003130,-0.009749,-0.010011,-0.010554,-0.013344,-0.009319,...,0.002161,0.004001,-0.003774,-0.006849,-0.004234,0.000000,-0.011426,0.000000,0.018280,0.000372
2020-12-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [201]:
1953 * 248

484344

In [128]:
rtn_ = rtn.stack().reset_index(drop=True)
rtn_

0         0.000000
1         0.000000
2         0.000000
3        -0.004381
4         0.015625
            ...
484339    0.000000
484340    0.000000
484341    0.000000
484342    0.000000
484343    0.000000
Length: 484344, dtype: float64

## regression

In [145]:
X, y = factors, rtn_

In [146]:
X = X.fillna(0).replace([np.nan, np.inf, -np.inf], 0)
y = y.fillna(0).replace([np.nan, np.inf, -np.inf], 0)

In [152]:
X.shape

(484344, 13)

In [184]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LassoCV, LinearRegression, Lasso
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([
    ("scaler", StandardScaler(with_mean=True, with_std=True)),
    ("model", Lasso(alpha=0.0001))
])

pipe.fit(X, y)
coef = pipe.named_steps['model'].coef_
yhat = pipe.predict(X)

In [185]:
yhat

array([ 4.28737951e-04,  4.28737951e-04,  4.28737951e-04, ...,
        5.66103564e-04,  3.03684426e-04, -1.41420904e-05])

# backtest

In [205]:
signal = pd.DataFrame(yhat.reshape(1953 ,248), index=rtn.index)

In [206]:
signal

,0,1,2,3,4,5,6,7,8,9,...,238,239,240,241,242,243,244,245,246,247
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,...,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429
2013-01-07,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,...,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429,0.000429
2013-01-08,0.000650,0.000429,0.000697,0.000424,0.001083,0.000240,0.000374,0.000451,0.000429,0.000282,...,0.000902,0.000410,0.000537,0.000506,0.000663,-0.000054,0.000371,0.000112,0.000287,0.000855
2013-01-09,0.000432,0.000429,0.000411,0.000340,0.000320,0.000936,0.000834,0.000463,0.000429,0.000777,...,0.000280,0.000325,0.000272,0.000812,0.000780,0.001378,0.000481,0.000867,0.000281,-0.000008
2013-01-10,0.000435,0.000429,0.000397,0.000589,0.000286,0.000237,0.000532,0.000711,0.000429,0.000391,...,0.000955,0.000320,0.000448,0.000616,0.000228,-0.000551,0.000514,0.000124,0.000353,0.000713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.000394,0.000642,0.000429,0.001020,0.000360,0.000599,0.000789,0.000793,0.000582,0.000487,...,0.000500,0.000365,0.000478,0.000613,0.000412,0.000429,0.000479,0.000230,0.000649,0.000571
2020-12-25,0.000588,0.000502,0.000429,0.000058,0.000591,0.000639,0.000634,0.000450,0.000640,0.000715,...,0.000434,0.000373,0.000420,0.000555,0.000601,0.000429,0.000522,0.000354,0.000509,0.000328
2020-12-28,0.000162,0.000406,0.000429,0.000112,0.000317,0.000370,0.000330,0.000414,0.000148,0.000412,...,0.000412,0.000647,0.000462,0.000349,0.000360,0.000429,0.000388,0.000612,0.000376,0.000819
2020-12-29,0.000864,0.000672,0.000429,0.000764,0.001059,0.000798,0.000776,0.000897,0.000733,0.000719,...,0.000529,0.000496,0.000554,0.000680,0.000860,0.000429,0.001066,0.000469,0.000941,0.001033
2020-12-30,0.000287,0.000264,0.000429,0.000403,0.000215,0.000230,0.000233,0.000177,0.000157,0.000169,...,0.000384,0.000371,0.000232,0.000213,0.000124,0.000429,0.000060,0.000566,0.000304,-0.000014

In [207]:
bk(signal)

{'TurnOver': 1.7127580096045785,
 'RetNC': -0.15491136420491958,
 'SharpeNC': -0.7153862940282514,
 'DDNC': 1.2466896012287856}